
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center mb-30">
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                            Help
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Status
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Writers
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Careers
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Privacy
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Terms
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            About
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Vie67 2019</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vie67/vendor/jquery/jquery.min.js"></script>
<script src="/vie67/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/vie67/js/clean-blog.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
</body>

</html>


