<% include ./partials/header %>

    <main role="main" class="inner cover">
        <!--<img class="mb-4" src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="" width="72" height="72">-->
        <form class="form-signin" action="/login" method="post">
            <% if (alert.length > 0) { %>
            <div class="alert alert-success mb-3" role="alert">
                <%= alert %>
            </div>
            <% } %>
            <% if (errors.length > 0) { %>
            <% for(var i = 0; i < errors.length; i++) { %>
            <div class="alert alert-danger" role="alert">
                <%= errors[i] %>
            </div>
            <% } %>
            <% } %>
            <input type="email" class="form-control" placeholder="Email address" name="email" <% if (input.length > 0) { %>value="<%=input[0] %>"<% } %> required autofocus>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    </main>

<% include ./partials/footer %>